@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
  /* background */
  --color-yellowForHover:#e69c00;
  --color-white2:#f5f5f5;
  --color-white3:#f1f2f3;
  --color-white4:#e5e3df;
  /* text color */
  --color-blue:#007bff;
  --color-blue2:#1a73e8;
  --color-babyGray:#999999;
  --color-babyGray2:#dbdbdb;
  --color-black:#0c0c0c;
  --color-black2:#000000;
  --color-black3:#000000de;
  --color-black4:#0000008a;
  /* textColor + background */
  --color-yellow:#ffbe33;
  --color-gray:#222831;
  --color-white:#ffffff;
  /* fonts */
  --font-dancing: Dancing Script, cursive;
  --font-opensans: Open Sans, sans-serif;
  --font-roboto: Roboto, sans-serif;
}
.center-container
{
    @apply container mx-auto px-5 md:w-[78%] sm:w-[98%] ;
}
.input {
  @apply transition-all duration-300 ease-in-out;
}
.input:focus {
  @apply outline-none border-yellow   transform scale-[1.02];
  box-shadow: 0 0 15px rgba(251, 191, 36, 0.4) ;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}

